@model TMS.Model.CreateTicketModel
@{
    ViewBag.Title = "CreateTicket";
    Layout = "~/Views/Shared/_Layout.cshtml";
    TMS.Data.Repository.CategoriesRepository _objCategoryRepo = new TMS.Data.Repository.CategoriesRepository();
    var CategoryList = _objCategoryRepo.GetAllCategoryList();
}


<div class="row">
    <div class="col-lg-14">
        <div class="panel panel-default">
            <div class="panel-heading">
                Create New Ticket
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        @using (Html.BeginForm("CreateTicket", "Ticket", FormMethod.Post))
                        {
                            <div class="form-group">
                                <label>Category *</label>
                                @Html.DropDownListFor(x => x._categoryModel.CategoryId, new SelectList(CategoryList, "CategoryId", "CatgoryName"), "--Select Catgory--", new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>Priority</label>
                                <select>
                                    <option>--Select Priority--</option>
                                    <option>High</option>
                                    <option>Medium</option>
                                    <option>Low</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Subject *</label>
                                @Html.TextBoxFor(x => x.Subject, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.Subject, null, new { Style = "color:red" })
                            </div>
                            <div class="form-group">
                                <label>Message *</label>
                                @Html.TextBoxFor(x => x.Message, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.Message, null, new { Style = "color:red" })
                            </div>
                            <div class="form-group">
                                <label>Full name *</label>
                                @Html.TextBoxFor(x => x.FullName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.FullName, null, new { Style = "color:red" })
                            </div>
                            <div class="form-group">
                                <label>Email *</label>
                                @Html.PasswordFor(x => x.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.Email, null, new { Style = "color:red" })
                            </div>
                            <div class="form-group">
                                <label>Phone</label>
                                @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.Phone, null, new { Style = "color:red" })
                            </div>
                            <button class="btn btn-outline btn-success" type="submit">Submit</button>
                            <button class="btn btn-outline btn-info" type="submit">Cancle</button>
                        }
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

